body {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  padding: 0px;
  margin: 0px;
  background-image: url('background-tile.gif');
  background-repeat: repeat;
}

#app {
  display: grid;
  grid-template-columns: 300px 1fr 300px;
  grid-template-rows: 25vh;
  grid-template-areas:
    'species-form garden garden-form'
    'sprite-list garden garden-list'
    'sprite-list garden garden-list';
  gap: 20px;
  box-sizing: border-box;
  height: 100vh;
  width: 100%;
  padding: 20px;
}

#app > species-form {
  grid-area: species-form;
  text-align: center;
}

#app > #sprite-list {
  grid-area: sprite-list;
}

#app > garden-main {
  display: grid;
  grid-area: garden;
  justify-self: center;
  align-self: center;
}

#app > garden-form {
  grid-area: garden-form;
  text-align: center;
}

#app > garden-search {
  grid-area: garden-list;
}

.menu {
  box-sizing: border-box;
  border: 5px solid red;
  border-radius: 15px;
  background-color: rgb(152, 251, 152, 0.5);
}
