body {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  padding: 0px;
  margin: 0px;
  background-color: palegreen;
}

button,
label,
input {
  font-size: large;
  margin: 2px;
}

input[type='radio'] {
  width: 20px;
  height: 20px;
}

#app {
  display: grid;
  height: 100vh;
  width: 100%;
  grid-template-columns: 300px 1fr 300px;
  grid-auto-rows: 100px auto;
}

#header {
  text-align: center;
  background-color: blueviolet;
  color: palegreen;
  grid-column: 1 / 4;
  grid-row: 1;
}

#header h1 {
  font-size: 2.5em;
}

#left-bar {
  border: 5px solid black;
  border-radius: 3%;
  padding: 20px;
  margin: 5px;
  background-color: palegreen;
  grid-column: 1;
  grid-row: 2;
}

#center {
  display: grid;
  background-color: palegreen;
  grid-column: 2;
  grid-row: 2;
}

#right-bar {
  border: 5px solid black;
  border-radius: 3%;
  padding: 20px;
  margin: 5px;
  background-color: palegreen;
  grid-column: 3;
  grid-row: 2;
}

#garden {
  display: grid;
  grid-template-columns: repeat(auto-fill, 50px);
  grid-auto-rows: 50px;
  width: 800px;
  height: 600px;
  margin: 100px auto;
  background-color: green;
  border: 5px solid black;
  font-size: larger;
}

.plant {
  border: 1px dotted gray;
  font-size: 45px;
  text-align: center;
  overflow: hidden;
  font-family: fantasy;
}

#species-form input[type='text'] {
  width: 45px;
  font-family: fantasy;
}

#right-bar input[type='text'] {
  width: 80%;
}

#species-list {
  font-family: fantasy;
}

#garden-list {
  word-wrap: break-word;
}

.clickable {
  cursor: pointer;
}
